.one-maullidos-tag {
  display: block;
}

.one-user-owner-page { 
  display: block;
}

.two-maullidos-tag {
  display: none;
}

.other-user-owner-page {
  display: none;
}

.following-genders {
  display: flex;
  align-items: center;
}

.following-genders h2 {
  margin-right: 10px;
}